<div class="banner container">
  <div class="banner__introduction">
    <p class="banner__introduction__text-1">Olá, sou Isadora Bakir,</p>
    <p class="banner__introduction__text-2">desenvolvedora frontend</p>
    <p class="banner__introduction__subtitle">
      Com foco em desenvolvimento <span>Angular</span>, desde 2020
    </p>
  </div>
  <div class="banner__avatar-container">
    <img
      class="banner__avatar-container__img"
      src="assets/images/avatar.jpeg"
      alt="avatar"
    />
  </div>
</div>
