@import '../../../styles/variables';

.banner {
  padding: px-to-rem(100px) px-to-rem(50px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: px-to-rem(75px);

  @include mobile() {
    flex-direction: column;
    row-gap: px-to-rem(40px);
  }

  &__introduction {
    &__text-1,
    &__text-2 {
      @include secondary-type(48px, 900);

      @include mobile() {
        @include secondary-type(24px, 900);
      }
    }

    &__text-1 {
      background: $linear-color;
      background-clip: text;
      color: transparent;
    }

    &__text-2 {
      margin-bottom: px-to-rem(12px);
    }

    &__subtitle {
      @include regular-type(18px, 400);

      @include mobile() {
        @include regular-type(16px, 400);
      }

      span {
        font-weight: 700;
      }
    }
  }

  &__avatar-container {
    display: inline-block;
    padding: px-to-rem(8px);
    background: $linear-color;
    border-radius: 50%;

    &__img {
      display: block;
      width: px-to-rem(280px);
      min-width: px-to-rem(280px);
      height: px-to-rem(280px);
      border-radius: 50%;
      object-fit: cover;

      @include mobile() {
        width: px-to-rem(200px);
        min-width: px-to-rem(200px);
        height: px-to-rem(200px);
      }
    }
  }
}
