@import '../../../styles/variables';

.contacts {
  h1 {
    @include main-title();
    text-align: center;
  }

  &__container {
    max-width: px-to-rem(250px);
    margin: 0 auto;
    padding: px-to-rem(40px) 0;

    li {
      margin-bottom: px-to-rem(15px);

      a {
        display: flex;
        align-items: center;
        column-gap: px-to-rem(15px);
      }
    }
  }
}
