@use 'sass:math';

// Variables

$bg-home: #0f1624;
$white: #f4f4f4;
$linear-color: linear-gradient(270deg, #e47b7b 0%, #9350d4 100%);
$box-shadow-logo: 7px 7px 7px rgba(0, 0, 0, 0.25),
  5px 5px 5px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25);

$base-font-size: 16px;
$base-font-weigth: 400;

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Playfair Display', serif;

// Functions

@function px-to-rem($px) {
  @return math.div($px, $base-font-size) * 1rem;
}

// Mixins
// Typography

@mixin regular-type($size: $base-font-size, $weigth: $base-font-weigth) {
  font-size: $size;
  font-weight: $weigth;
}

@mixin secondary-type($size: $base-font-size, $weigth: $base-font-weigth) {
  font-family: $secondary-font;
  font-size: $size;
  font-weight: $weigth;
  line-height: normal;
}

@mixin main-title() {
  font-family: $secondary-font;
  font-size: px-to-rem(32px);
  font-weight: 900;
  line-height: normal;

  @include mobile() {
    font-size: px-to-rem(20px);
  }
}

@mixin secondary-title($font: $primary-font) {
  font-family: $font;
  font-size: px-to-rem(24px);
  font-weight: 700;
  line-height: normal;

  @include mobile() {
    font-size: px-to-rem(18px);
  }
}

// Responsive
@mixin mobile() {
  @media only screen and (max-width: 800px) {
    @content;
  }
}
